h1 {
    text-align: center;
    margin-bottom: 1cm;
}
ol {
    width: max-content;
    display: flex;
    margin: auto;
    margin-bottom: 1cm;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
ol li {
    font-weight: bold;
}
