h1 {
    text-align: center;
    margin-bottom: 1cm;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
form textarea{
    width: 20%;
    background-color: blue;
}
div button {
    margin-right: 1cm;
    background-color: orange;
}